<?php $storeId = Mage::app()->getStore()->getStoreId(); 
	$sorts = Mage::helper('swiftype')->getSearchStoreConfig('sorts', $storeId);
	$arr_sorts = array();
	if($sorts != ''){
		$arr_sorts = unserialize($sorts);
	}
?>
<script type="text/javascript">
	var facetLocal = <?php echo Mage::helper('swiftype')->getFilterableAttributes();?>;
	var fillterList = <?php echo Mage::helper('swiftype')->getFilterableAttributesArray();?>;
	var searchConfig = {
		facets: {},
		sort: {
		  field: undefined,
		  direction: undefined
		}
	  };
	  
	  var resultTemplate = Hogan.compile([
			'<li class="item">',
			  '<a href="{{url}}" class="product-image" title="{{name}}">',
				'<img src="{{image}}" alt="{{name}}">',
			  '</a>',
			  '<div class="product-info">',
				  '<h2 class="text-ellipsis product-name">',
				  '<a href="{{url}}" title="{{name}}">{{name}}</a>',
				  '</h2>',
				  '<div class="price-box">',
					'{{^min_price}}',
					'{{#special_price}}',
					'<p class="old-price"> <span class="price">{{price_original_formated}}</span> </p> <p class="special-price"> <span class="price"> <span>{{price_formated}}</span> </span> </p>',
					'{{/special_price}}',
					'{{^special_price}}',
					'<p class="normal-price"> <span class="regular-price"> <span><span class="price">{{price_formated}}</span></span> </span> </p>',
					'{{/special_price}}',
					'{{/min_price}}',
					'{{#min_price}}',
					'<p class="normal-price"> <span class="regular-price"> <span><span class="price">{{price_min_formated}} - {{price_max_formated}}</span></span> </span> </p>',
					'{{/min_price}}',
				   '</div>',
				   '<div class="actions-detail"><button type="button" title="View Details" class="button" onclick="setLocation(\'{{url}}\')"><span><span>View Details</span></span></button></div>',
			  '</div>',
			'</li>'
		  ].join('') );
	  var customRenderFunction = function(document_type, item) {
			var
			  data = {
				name: item['name'],
				price: item['price'],
				min_price: item['min_price'],
				special_price: item['special_price'],
				price_original_formated: item['price_original_formated'],
				price_formated: item['price_formated'],
				price_min_formated: item['price_min_formated'],
				price_max_formated: item['price_max_formated'],
				product_id: item['product_id'],
				url: item['url'],
				image: item['image']
			  };
			return resultTemplate.render(data);
		  };

		  var reloadResults = function() {
			location.hash = "stq=" + encodeURIComponent(jQuery("#search_mini_form_swiftype").val()) + "&stp=1";
			jQuery(window).hashchange();
		  };
			
			 var reloadFillterFixed = function(from_fixed, to_fixed) {
				window.searchConfig.facets = {}; // Set the hash to empty
				jQuery('.st-dynamic-facets input[type="checkbox"]').each(function(idx, obj) {
				  var
					$checkbox = jQuery(this),
					facet = $checkbox.attr('name');
				  if(!window.searchConfig.facets[facet]) {
					window.searchConfig.facets[facet] = [];
				  }
				  if($checkbox.is(':checked')) {
					window.searchConfig.facets[facet].push($checkbox.attr('value'));
				  }
				});
				var facet_price = 'price';
				window.searchConfig.facets[facet_price] = {
				  type: 'range',
				  from: from_fixed,
				  to: to_fixed
				};
				reloadResults();
			};
			
		  var bindControls = function(data) {
			var
			  resultInfo = data['info'],
			  facets = '';
			var min_price = 0;
			var max_price = 0;
			jQuery.each(resultInfo, function(documentType, typeInfo){
				var typeInfoFacets = typeInfo.facets;
				jQuery.each(facetLocal, function(attr_code, attr_val) {
					if(typeInfoFacets[attr_code] != undefined){
						facets += ['<dt>', attr_val, '</dt>'].join('');
						facets += '<dd>';
						if(attr_code == 'price'){
							var i_ = 0;
							jQuery.each(typeInfoFacets[attr_code], function(label, count) {
								i_ ++;
								var ceil_price = Math.ceil(label);
								var floor_price = Math.floor(label);
								if(ceil_price > max_price){
									max_price = ceil_price;
								}
								if(i_ == 1 || floor_price < min_price){
									min_price = floor_price;
								}
							});
							facets += '<div id="slider_outer"> <div class="s3"></div> <div class="tollbar-slider-range-price"> <div class="val-minimum">'+min_price+'</div> <div class="val-maximum">'+max_price+'</div> <div id="show-label-slider" style="position: absolute; top: 0px;"></div> <div id="value-range-change-min" style="position: absolute; top: 0px; display: none;"></div> <div id="value-range-change-max" style="position: absolute; top: 0px; display: none;"></div> <div id="slider-range-price"></div> </div> </div><br>';
						}
						else{
							jQuery.each(typeInfoFacets[attr_code], function(label, count) {
							  var
								status = "",
								id = encodeURIComponent(label).toLowerCase();
							  if (window.searchConfig.facets[attr_code] && window.searchConfig.facets[attr_code].indexOf(label) > -1) {
								status = ' checked="checked"'
							  }

							  facets += '<input type="checkbox"' + status + ' name="' + attr_code + '" value="' + label + '" id="' + id + '"> <label for="' + id + '">' + label + ' (' + count + ')</label><br/>';
							});
						}
						facets += '<a href="#" class="clear-selection" data-name="' + attr_code + '">Clear all</a><br><br>';
						facets += '</dd>';
					}
				});
			  jQuery('.st-dynamic-facets').html(facets);
			});
			if(max_price > 0){
				startSliderSwiftype(min_price,max_price);
			}
		  };

		  var readSortField = function() {
			return { product: window.searchConfig.sort.field };
		  };

		  var readSortDirection = function() {
			return { product: window.searchConfig.sort.direction };
		  };
		  
		  var readFilters = function() {
			var fi = {};
			fillterList.forEach(function(entry) {
				fi[entry] = window.searchConfig.facets[entry];
			});
			return {
			  product: fi
			}
		  };
		  var startSliderSwiftype = function(min_price, max_price) {
			step_val = 1;
			jQuery("#slider-range-price").slider({
				range: true,
				min: min_price,
				max: max_price,
				step: step_val,
				values: [min_price, max_price],
				slide: function(a, b) {
					jQuery("#show-label-slider").text(b.value);
					var per = ((b.value / max_price) * 100);
					jQuery("#show-label-slider").css("left", per+"%");
				},
				change: function(a, b) {
					reloadFillterFixed(b.values[ 0 ], b.values[ 1 ]);
				}
			});
		};
	jQuery(document).ready(function(){
		var typingTimerAutoSearch;
		var doneTypingIntervalAutoSearch = 1000;
		jQuery(document).on("keyup", "#search_mini_form_swiftype", function(){
			if (typingTimerAutoSearch) clearTimeout(typingTimerAutoSearch);
				typingTimerAutoSearch = setTimeout(doneTypingAutoSearch, doneTypingIntervalAutoSearch);
		});
		jQuery(document).on("keydown", "#search_mini_form_swiftype", function(){
			clearTimeout(typingTimerAutoSearch);
		});
		jQuery(document).on('change', '#sort-selector', function (event) {
			window.searchConfig.sort.field = jQuery(this).find(":selected").attr('data-field');
			window.searchConfig.sort.direction = jQuery(this).find(":selected").attr('data-direction');
			reloadResults();
		});
		jQuery(document).on('click', '.st-dynamic-facets input', function (event) {
			reloadFillterFixed(jQuery('.val-minimum').text(), jQuery('.val-maximum').text());
		});
		jQuery(document).on('click', '.st-dynamic-facets a.clear-selection', function (event) {
			event.preventDefault();
			var name = jQuery(this).data('name');
			jQuery('input[name=' + name + ']').attr('checked', false);
			window.searchConfig.facets[name] = [];
			reloadResults();
		 });
		  
		function doneTypingAutoSearch() {
			if(!jQuery('div').hasClass('hassClassmainContainer')){
				var html_ = ['<div class="main-container hassClassmainContainer col2-left-layout"><div class="main">',
								'<div class="breadcrumbs"><ul><li class="search"> <strong>Search results for \''+jQuery("#search_mini_form_swiftype").val()+'\'</strong> </li></ul></div>',
								'<div class="col-left sidebar col-left-first">',
									'<div class="block block-layered-nav block-layered-nav--no-filters"><div class="block-content"><dl class="st-dynamic-facets"></dl></div></div>',
								'</div>',
								'<div class="col-main">',
									'<div id="instant-search-results-container" class="category-products">',
										'<div class="toolbar-top">',
											'<div class="toolbar">', 
												'<div class="sorter">', 
													'<div class="pull-right">', 
														'<label>Sort By</label>',
														'<select id="sort-selector" name="sort-selector">',
															'<option data-field="undefined" data-direction="undefined" value="0">Relevance</option>',
															<?php if(count($arr_sorts) > 0){ foreach($arr_sorts as $key => $val){ echo '\'<option data-field="'.$val['attribute'].'" data-direction="'.$val['sort'].'" value="'.$key.'">'.$val['label'].'</option>\','; } } ?>
														'</select>',
													'</div>',
												'</div>',
											'</div>',
										'</div>',
										'<ul class="products-grid products-grid--max-4-col first last odd" id="st-results-container">',
											'<li id="no-results">No products found</li>',
										'</ul>',
									'</div>',
								'</div></div> </div>'].join('\n');
				jQuery('<?php echo Mage::helper('swiftype')->getSearchStoreConfig('instant_selector', $storeId);?>').replaceWith(html_);
				jQuery('#search_mini_form_swiftype').swiftypeSearch({
					resultContainingElement: '#st-results-container',
					engineKey: '<?php echo Mage::helper('swiftype')->getEngineKey($storeId);?>',
					perPage: <?php echo Mage::helper('swiftype')->getSearchStoreConfig('number_product_results', $storeId);?>,
					renderFunction: customRenderFunction,
					sortField: readSortField,
					sortDirection: readSortDirection,
					facets: { product: fillterList},
					filters: readFilters,
					postRenderFunction: bindControls
				  });
			}
			jQuery('#search_mini_form').submit();
		}
		
		function getHashValue(key) {
		  var matches = window.location.hash.match(new RegExp(key+'=([^&]*)'));
		  return matches ? matches[1] : '';
		}
		if(getHashValue('stq') != ''){
			jQuery('#search_mini_form_swiftype').val(decodeURIComponent(getHashValue('stq')));
			doneTypingAutoSearch();
		}
	});
</script>