.tollbar-slider-range-price {
	position: relative;
	padding: 25px 15px 0 15px;
}
.tollbar-slider-range-price .val-minimum, .tollbar-slider-range-price .val-maximum {
	position: absolute;
	top: 0;
}
.tollbar-slider-range-price .val-minimum {
	left: 11px;
}
.tollbar-slider-range-price .val-maximum {
	right: 0;
}
.text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.st-page{display: block; clear: both; text-align: center;}
body .products-grid .product-info{padding-bottom: 0;}